
@import "@/less/colors.less";
@table_color : #46464675;
@table_text_color : #b8b8b8;

.p-datatable-header {
    border:  none;
}

.p-datatable-header  , .table-color {
    background-color: @table_color !important; 
    color: @table_text_color;
}


tr {
    background-color: @table_color !important;   
}

.p-component{
    background-color: @table_color !important;   

}


.p-inputtext{
    background-color: @table_text_color !important; 
}

button{
    color: @table_text_color !important; 
}

.p-highlight{
    background-color: rgba(191, 191, 191, 0.509);
}

.button-table{
    background-color: @purple2 !important;
    border: 1px solid @purple2 ;
}

a{
    text-decoration: none;
    color: #defffa !important;

}