@import url("../../../../less/WH.less");
@import url("../../../../less/colors.less");

.title {
  font-size: 4.5vh;
}

.coins {
  width: 12%;
}
#prog-cont {
  height: 4vh;
  width: 100%;
  margin: 12% 0% 4% 0%;
}

.progress {
    height: 150%;
    position: relative;
}

#progress-empty {
  .progress;
  background-color: fade(@red, 70%);
  border-radius: 0px 0px 100px 0px;
}
#progress-fill {
  .progress;
  top: -150%;
  width: 0%;
  background-color: @green;
  transition: width .8s;
  border-radius: 0px 0px 100px 0px;
}

.label-prog{
    font-size: 2.5vh;
    position: absolute;
    z-index: 10000000;
    color: @black
}

.coin-label{
    font-size: 3vh;
    color: @white;
    position: relative;
    top: 5px;
}

.btn{
  font-size: 3vh;
  padding: 2% 15%;
  border-radius: 5%;
  margin: 0% 3%;
  background-color: transparent;
}


.btn-add{
  .btn;
  border: 5px solid @green;
  color: @green;
  padding: 1% 12% !important;
}
.btn-dec{
  .btn;
  border: 5px solid @red;
  color: @red;
  padding: 0%;
  padding: 1% 12% !important;

}

.back-btn{
  width: 100%;
  background-color: @red !important;
  border: 1px solid  @black !important;
  color: @black  !important;
  font-size: 2.5vh;
  margin: 0%;
  margin-top: 2%;
  margin-bottom: 4%;
}

#car-img{
  width: 100%;
  margin-top: 12%;
  margin-bottom: 5%;
}



.btn-cont{
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
}

.card-subt{
  width: 100%;
  background-color: @cyan;
  color: @black;
  text-align: center;
  padding: 3% 0%;
  margin: 5% 0%;
}

.card-content{
  background-color: fade(@teal, 80%);
  color: @black;
}

.content-container{
  border: 1px solid @black;
  width: 17%;
  height: 8vh;
  display: inline-block;
  margin: 0% 3%;
  background-color: fade(@black, 30%);
}

.content-container-selected{
  background-color: @orange;
}
